<div class="row">
    <div class="pull-right">
        <a ng-href="#/projeto/edit/0" >
            <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </a>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <th>Id</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Data de Criação</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="projeto in model.projetos" ng-class-odd="'active'" ng-class-even="''" ng-click="">
                <td>{{projeto.id}}</td>
                <td>{{projeto.titulo}}</td>
                <td>{{projeto.descricao}}</td>
                <td>{{projeto.dataCriacao| date : 'dd/MM/yyyy'}} </td>
                <td><a class="pull-right" ng-click="remove(projeto)" ng-href="#"><i class="glyphicon glyphicon-remove-circle"></i>
                    </a></td>
                <td><a class="pull-right" ng-href="#/projeto/edit/{{projeto.id}}"><i class="glyphicon glyphicon-edit"></i>
                    </a></td>
            </tr>

        </tbody>
    </table> 
</div>