<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <distributable/>
    
    <display-name>Sistema de Agenciamento Marítimo</display-name>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/resources/applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>securityConfigLocation</param-name>
        <param-value>sistam/fwca.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>br.com.petrobras.security.extension.web.listener.SecurityConfigListener</listener-class>
    </listener>
    
    <listener> 
        <description>Listener de configuração do Spring</description>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>    
    
    <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/resources/remoting-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>transfer</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/resources/transfer-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/resources/mvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>/SistamService.svlt</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/mvc/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>transfer</servlet-name>
        <url-pattern>/SistamTransfer.svlt</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>job</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/resources/job-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>job</servlet-name>
        <url-pattern>/SistamJob.svlt</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>job</servlet-name>
        <url-pattern>/JobStatus.svlt</url-pattern>
    </servlet-mapping> 
    
    
    <filter>
        <filter-name>httpPutFormContentFilter</filter-name>
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>httpPutFormContentFilter</filter-name>
        <servlet-name>mvc</servlet-name>
    </filter-mapping>
    
    
    <filter>
        <description>Filtro de autenticação do CA. Necessário para uso de SSO pela aplicação</description>
        <filter-name>Authentication Verifier</filter-name>
        <filter-class>
            br.com.petrobras.security.extension.web.filter.AuthenticationVerifierFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Authentication Verifier</filter-name>
        <url-pattern>/mvc/*</url-pattern>
    </filter-mapping>    
    
    
    <welcome-file-list>
      <welcome-file>
        index.html
      </welcome-file>
    </welcome-file-list>
      
</web-app>
