/* 
    Document   : css_painel
    Created on : Jun 19, 2013, 10:47:59 AM
    Author     : kbor
    Description:
        Purpose of the stylesheet follows.
*/
html {
        height: 100%;
}

body {
        padding: 0px;
        margin: 0px;
        height: 100%;
}

img {
    vertical-align: middle;
}

header {
        height:70px;
}

section {
        height:auto;
        background-size: 100%;
}

#logoSistema {
    float: left;
    background-image: url('../imagens/MarcaPainel2.png');
    background-repeat:no-repeat;
    width: 200px;
    height:60px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
}

#logoPetrobras {
    float: right;
    background-image: url('../imagens/marcaPetrobras.png');
    background-repeat:no-repeat;
    width:100px;
    height:30px;
    padding: 0px;
    margin: 10px 10px 0px 0px;   
}

#select-estilo {
    float: right;
    padding: 0px;
    margin: 10px 10px 0px 0px;   
}

.divTipoNavio{
    height:30%;
}

.divNavioSaido, .divNavioDesviado{
    margin:0;
}

.divNavioSaido{
    float:left;
    width:30%;
}

.divNavioDesviado{
    float:right;
    width:33%;
}

.texto .titulo {
    width: 320px;
    margin: 0 auto;
}

.texto .subtitulo {
    width:260px;
    margin:0 auto;
}

.tituloTipoNavio{
    margin-left:10px;
}

.paginacao{
    float:right;
    margin-right:10px;
}