

html, body
{
    height: 100%;
}

body
{
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
    margin: 0;
    background-color: #003562;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#003562), to(#005197));
    background-image: -webkit-linear-gradient(top, #003562, #005197);
    background-image: -moz-linear-gradient(top, #003562, #005197);
    background-image: -ms-linear-gradient(top, #003562, #005197);
    background-image: -o-linear-gradient(top, #003562, #005197);
    background-image: linear-gradient(top, #003562, #005197);    
}

/*--------------------*/

#login
{
    background-color: #005197;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#005197), to(#003562));
    background-image: -webkit-linear-gradient(top, #005197, #003562);
    background-image: -moz-linear-gradient(top, #005197, #003562);
    background-image: -ms-linear-gradient(top, #005197, #003562);
    background-image: -o-linear-gradient(top, #005197, #003562);
    background-image: linear-gradient(top, #005197, #003562);  
    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          0 1px 1px rgba(0, 0, 0, .5),
          0 3px 0 #369,
          0 4px 0 rgba(0, 0, 0, .5),
          0 6px 0 #369,  
          0 7px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),  
          1px 1px   0 rgba(0,   0,   0,   .3),
          3px 3px   0 rgba(255, 255, 255, 3),
          4px 4px   0 rgba(0,   0,   0,   .3),
          6px 6px   0 rgba(255, 255, 255, 3),  
          7px 7px   0 rgba(0,   0,   0,   .3);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 3px 1px rgba(0, 0, 0, .7),
          0 8px 0 #369,
          0 6px 0 rgba(0, 0, 0, .8),
          0 7px 0 #369,  
          0 8px 0 rgba(0, 0, 0, .58);
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border:0;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #369;
    -webkit-box-shadow: 0 0 0 1px #369;
    box-shadow: 0 0 0 1px #369;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;  
}

/*------------------------*/

#logoSistema {
    float: left;
    background-image: url('../imagens/MarcaPainel2.png');
    background-repeat:no-repeat;
    width: 200px;
    height:60px;
    padding: 0px;
    margin: 0px 0px 20px 10px;
}

#logoPetrobras {
    float: right;
    background-image: url('../imagens/marcaPetrobras.png');
    background-repeat:no-repeat;
    width:100px;
    height:30px;
    padding: 0px;
    margin:0px 0px 10px 10px;   
}

/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#inputs input
{
    background: #f1f1f1 url('../imagens/login-sprite.png') no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#txt_user_login
{
    background-position: 5px -2px !important;
}

#pwd_user_password
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions
{
    margin: 15px 0 0 0;
}

#submit
{		
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin:0 0 0 140px;
}

#submit:hover,#submit:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

#submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
  border: none;
}

#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

#back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}


