/* 
    Document   : css_painel
    Created on : Jun 19, 2013, 10:47:59 AM
    Author     : kbor
    Description:
        Purpose of the stylesheet follows.
*/
html {
        height: 100%;
}

body {
        padding: 0px;
        margin: 0px;
        height: 100%;
}

img {
    vertical-align: middle;
}

header {
        height: 10%;
}

section {
        height:85%;
        background-size: 100%;
}

footer {
        height:70px;
        position: absolute!important;
        width: 100%;
        bottom:0;        
}



table {
        border-spacing: 2px;
        empty-cells: hide;
        width:98%;
        margin:0 10px;
}

table thead th {
        border-radius: 12px 12px 12px 12px;
        background-color: rgba(28,34,36,0.85);
        padding: 3px 3px 3px 3px;
}

table tbody tr:nth-child(odd) td{
}

table tbody tr:nth-child(even) td{
}

table tbody tr td:nth-child(1) {
        border-radius: 12px 12px 12px 12px;
        width: 43px;
}

table tbody tr td {
        border-radius: 12px 12px 12px 12px;
        padding: 3px 3px 3px 3px;
}

#cabecalho {
    width: 100%;
    height: 97%;
}

#logoSistema {
    float: left;
    background-image: url('../imagens/MarcaPainel2.png');
    background-repeat:no-repeat;
    width: 200px;
    height:60px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
}

#logoPetrobras {
    float: right;
    background-image: url('../imagens/marcaPetrobras.png');
    background-repeat:no-repeat;
    width:100px;
    height:30px;
    padding: 0px;
    margin: 10px 10px 0px 0px;   
}

#legenda {
    float: left;
    width: 600px;
    height: 50px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
 }

#legenda ul {
	margin:6px 15px;
	padding:0;
	position:relative;
	float:left;
	display:inline;
}

#legenda ul li {
	margin:2px 10px;
	padding:0;
	width:auto;
	position:relative;
	float:left;
	list-style:none;
}


#legenda span {
    
}

#botoes {
    float: right;
    width: 120px;
    height: 44px;
    padding: 0px;
    margin: 10px 10px 0px 0px;
}

#botoes img{
    margin:0 5px;
    cursor:pointer;
}


.texto {
    padding: 10px;
    text-align: center;
    color: white;
}

.texto .titulo {
}
.texto .subtitulo {
    
}

#separadorInferior {
    height: 3px;    
    width: 100%;
}

#separadorSuperior {
    height: 3%; 
    width: 100%;
}
#separadorInferior, #separadorSuperior {
    
}


section.paines table caption {
    border-radius: 12px 12px 12px 12px;
}

.rodape{
    height:100%;
    margin:5px 0;
}


#esperados .colEmbarcacao{width:12%}
#esperados .colViagem{width:8%}
#esperados .colEta{width:10%}
#esperados .colProcedencia{width:10%}
#esperados .colCalado{width:10%}
#esperados .colResumoCarga{width:35%}
#esperados .colObservacao{width:15%}
#esperados .colDestino{}


#fundeados .colEmbarcacao{width:12%}
#fundeados .colViagem{width:8%}
#fundeados .colHoraOficial{width:10%}
#fundeados .colProcedencia{width:10%}
#fundeados .colCalado{width:10%}
#fundeados .colLocalizacaoAtual{width:15%}
#fundeados .colResumoCarga{width:20%}
#fundeados .colObservacao{width:15%}
#fundeados .colDestino{}


#atracados .colEmbarcacao{width:12%}
#atracados .colViagem{width:8%}
#atracados .colAtracao{width:10%}
#atracados .colProcedencia{width:10%}
#atracados .colCalado{width:10%}
#atracados .colLocalizacaoAtual{width:15%}
#atracados .colResumoCarga{width:20%}
#atracados .colObservacao{width:15%}
#atracados .colDestino{}
