h1{
    color:#4372c3;
    width:100%;
    border-bottom:2px dotted #4372c3;
    line-height:40px;
    font-size:32px;
}

h2{
    color:#295aaf;
    line-height:27px;
}

h3{
    color:#295aaf;
    line-height:24px;
}

.toc{
  padding: 2px 12px 6px 12px;
  border: 1px solid #e8e49b;
  margin: 6px 0px 28px 0px;
  background-color: #fbf9dc;
}

.toc h3{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12pt;
  color:#c7941a;
}

.square{
    padding: 2px 12px 6px 12px;
  border: 1px solid #C3D9FF;
  margin: 6px 0px 28px 0px;
  background-color: #F5F9FD;
}